@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


/* variables or whatever */
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme {
  --color-white-pitch: #ffffff;
  --color-white: #f8f8f8;
  --color-gray-100: #e5e5ea;
  --color-gray-200: #ced0d3;
  --color-gray-300: #3b3c3e;
  --color-gray-400: #242628;
  --color-black: #09090a;
  --color-red: #ff2e2e;
  --color-red-light: #ffc5c5;
}
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


@layer utilities {
  .button {
    @apply bg-black text-white px-4 py-2 w-full text-center rounded-md ;
  }
}
.sidebar {
  button {
      @apply rounded-lg w-full h-fit flex gap-2 p-2 items-center;
  }
}

.sidebar-button {
  @apply w-full h-fit flex gap-2 p-2 items-center;
}