@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


/* variables *//* or whatever */
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme {
  --color-white-pitch: #ffffff;
  --color-gray-100: #e5e5ea;
  --color-gray-200: #ced0d3;
  --color-gray-300: #3b3c3e;
  --color-gray-400: #242628;
  --color-black: #000000;
  --color-red: #ff2e2e;
  --color-red-light: #ffc5c5;
}
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  letter-spacing: 0.01em;
}

button { @apply cursor-pointer; } 
body { @apply bg-black text-white; }

h1 { @apply text-4xl; }
h2 { @apply text-3xl; }
h3 { @apply text-2xl; }
h4 { @apply text-xl; }

form {
  input {
    @apply p-[10px] bg-neutral-900 rounded-[10px] w-full border-2 border-transparent outline outline-neutral-700 focus:border-neutral-600 ;
  }
}

@layer utilities {
  .button {
    @apply p-2.5 rounded-lg cursor-pointer transition-all;

  }
  .button-gray {
    @apply bg-gray-400 p-2.5 rounded-lg hover:invert-100 transition-all;
  }
}

.sidebar-collapsed {
  @apply w-16 p-2.5 h-full absolute;
  @apply outline; /* temporary */
}

.sidebar-expanded {
  @apply flex flex-col relative;
  @apply /* w-64 */ p-2.5 h-full;
  @apply outline-2 outline-neutral-800;
}
.sidebar {
  @apply h-full flex flex-col justify-between items-center relative p-2.5;
  @apply transition-all duration-200 ease-out;
  @apply outline outline-neutral-700; /* temporary */
}
.truncate {
  @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
}
